@font-face {
    font-family: "Digital Font";
    src: url(../fonts/digital.ttf);
}

html {
    box-sizing: border-box;
}

body {
    background-color: #002039;
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
}

button {
    border: 0px;
    border-radius: 10px;
    color: #002039;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 2em;
    margin: 10px;
    padding: 15px 25px;
    width: 140px;
}

a:link {
    color: #F5F5F5;
}

a:visited {
    color: #F5F5F5;
}

a:hover {
    color: #FFF;
    opacity: 0.5;
}

span {
    display: inline-block;
}

.frame {
    margin: 0 auto;
    padding: 60px 0;
}

.col-narrow {
    width: 38%;
    float: left;
}

.col-wide {
    width: 62%;
    float: left;
}

#stopwatch {
    color: #07C6FD;
    font-size: 2.5em;
}

#title {
    color: #F5F5F5;
    font-size: 4em;
    margin-bottom: 50px;
}

#timer {
    font-family: "Digital Font";
    font-size: 2.2em;
    margin: 50px 30px 120px;
    text-align: left;
}

#minutes {
    font-size: 2em;
    height: 180px;
    width: 180px;
    padding: 10px;
}

#seconds {
    font-size: 2em;
    height: 180px;
    width: 180px;
    padding: 10px;
}

#milliseconds {
    font-size: 0.5em;
    height: 45px;
    width: 45px;
    padding: 5px;
}

#buttons {
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: right;
}

#button-start {
    background-color: #00CC00;
    opacity: 0.5;
    margin-left: 20px;
    margin-right: 20px;
}

#button-start:hover {
    opacity: 0.8;
}

#button-stop {
    background-color: #D11919;
    opacity: 0.5;
    margin-left: 20px;
    margin-right: 20px;
}

#button-stop:hover {
    opacity: 0.8;
}

#button-reset {
    background-color: #FFF;
    opacity: 0.5;
    margin-left: 20px;
    margin-right: 20px;
}

#button-reset:hover {
    opacity: 0.8;
}

#navigation {
    color: #F5F5F5;
    font-size: 1.8em;
    text-align: center;
}

.footer {
    color: #808F9C;
}